.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.überschrift{
    color: deeppink;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.groß{
    font-weight: bold;
    font-size: 30px;
}
.align{
    text-align: center;
}
.titel1{
    background-color: rgb(187, 186, 186);
    padding-top: 20px;
}
.bild{
    margin-inline:auto;
    background-color: rgb(205, 202, 202);
}
.grid{
    display: grid;
    border: 1px solid var(--bx-red);
    grid-template: min-content;
}
.grundlagen{
    text-align: left;
    background-color: grey;
    display: block;
}
.tabelle1{
    border-width: 6px;
    border-color: black;
    border-radius: 5px;
}
.grundlagen2{
    padding-inline: 100px;
    text-align: left;
    background-color: grey;
    display: block;
    font-size: larger;
}

.textlinks{
    text-align: left;
}

.pfeile{
    color: rgb(249, 87, 173);
    font-weight: bolder;
    font-size: larger;
}
.rosa{
    color: hotpink;
}
.weiß{
    color: ghostwhite;
}
.filler{
    color: grey;
    background-color: grey;
}
.fillerweiß{
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
.g2{
    background-color: grey;
    border: color 12px deeppink;
}
.breitpink{
    color: deeppink;
    font-size: x-large;
    font-weight: bold;
}
.lb{
    font-size: x-large;
    color: deeppink;
    font-weight: bolder;
}
.lz{
    font-weight: bolder;
    color: black;
}
.tabelleliste{
    background-color: gray;
}
.verschieben{
    margin-right: auto;
    margin-left: auto;
}
.tabellegrau{
    background-color: grey;
    color: rgb(238, 128, 186);
    font-size: larger;
    font-weight: bold;
}
.fillerüberschrift{
    color: rgb(187, 186, 186);
}
.überschriftgrey{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.hintergrundblack{
    background-color: black;
}
.groeser{
    font-size: 50px;
    font-weight: bolder;
}
.nochgroeser{
    font-size: 100px;
    font-weight: bolder;
}
.paddy{
    margin-top: 30px;
}
.hintergrundgrau{
    background-color: grey;
}
.mittelgros{
    font-size: larger;
}
.rainbow{
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    color: transparent;
    background-clip: text;
}
.überschrift3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.hintergrundblau{
    background-color: blue;
}
.hintergrundrosa{
    background-color: deeppink;
}
.blau{
    color: blue;
}
.rainbowborder{
    border-width: 6px;
    border-color: transparent linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet) text;
    border-radius: 5px;

}
.borderfancy{
    border-style: dotted;
    border-color: black;
    border-width: 5px;
}
.bbunt{
    border:double 6px rgb(43, 184, 27);
}
.bbig{
    border: solid 20px black;
}
.ecken{
    border: solid 2px black;
    border-radius: 8px;
}
.fancyschrift{
   font-family: cursive;
}
.fancyschrift2{
    font-family: fantasy;
}
.schriftdick{
    font-weight: bolder;
}
.schriftgros{
    font-size: larger;
}
.schriftcool{
    font-family: fantasy;
}
.textdeco{
    text-decoration: line-through;
}
.textali{
    text-align: right;
}
.bottomleft{
    position: absolute;
    bottom: 250px;
    left: 100px;
}
.bottomright{
    position: absolute;
    bottom: 250px;
    right: 100px;
}
.centeredbottom{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topleft{
    position: absolute;
    top: 70px;
    left: 16px;
}
.textarea{
    caret-color: red;
    width: 60em;
    height: 30em;
    border: 1px solid black;
    padding: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textareafocus{
    background: #FFC;
}
.gruen{
    color: green;
}
.null{
    border: solid 2px black;
}
.drei{
    border: dotted 15px rgb(208, 103, 145);
    background-color: rgb(234, 169, 6);
    color: darkmagenta;
}
.ecken{
    border-radius: 8px;
}
.zwei{
    border: double blue 8px;
}
.eins{
    border: solid green 20px;
}
.centered2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottommit{
    position: absolute;
    bottom: 250px;
    right: 50%;
}


.centeredbottom2{
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered3{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.body{
    background: url(https://images.unsplash.com/photo-1515405295579-ba7b45403062?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGt1bnN0fGVufDB8fDB8fHww
    ) no-repeat;
    background-size: cover;
}
.schwarz{
    color: black;
}
.bgrau{
    color: rgb(107, 107, 107);
}
.blackback{
    background-color: black;
}
.bodyübersicht{
    background: url(https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fFJhdW18ZW58MHx8MHx8fDA%3D) no-repeat;
    background-size: cover;
}
.kag{
    font-size: large;
}
.breitweis{
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.bodyauf{
    background: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover;
}
.bodyquiz{
    background: url(https://images.unsplash.com/photo-1602072917553-326e3e2f76dc?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover;
}
.bodyall{
    background: url(https://i.pinimg.com/originals/8f/fd/a2/8ffda293f2f509e304e1eaa1fe68af3b.jpg) no-repeat;
    background-size: cover;
}
.bsp2{
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
}
.bsp2 .box{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out ;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;
}
.bsp2:hover .box{opacity: 0.8;}
.bsp2 .text2{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out ;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.bsp2 .titelll{
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.bsp2:hover .titelll,
.bsp2:focus .titelll{
    opacity: 1;
    transform: translateY(opx);
    -webkit-transform: translateY(0px);
}
.halbgros{
    font-size: large;
}
.bodyübersicht{
    background: url(https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover;
}
.bodyundcozeug{
    background: url(https://images.unsplash.com/photo-1604937455095-ef2fe3d46fcd?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover
    ;}


