.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.überschrift{
    color: deeppink;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.groß{
    font-weight: bold;
    font-size: 30px;
}
.align{
    text-align: center;
}
.titel1{
    background-color: rgb(187, 186, 186);
    padding-top: 20px;
}
.bild{
    margin-inline:auto;
    background-color: rgb(205, 202, 202);
}
.grid{
    display: grid;
    border: 1px solid var(--bx-red);
    grid-template: min-content;
}
.grundlagen{
    text-align: left;
    background-color: grey;
    display: block;
}
.tabelle1{
    border-width: 6px;
    border-color: black;
    border-radius: 5px;
}
.grundlagen2{
    padding-inline: 100px;
    text-align: left;
    background-color: grey;
    display: block;
    font-size: larger;
}

.textlinks{
    text-align: left;
}

.pfeile{
    color: rgb(249, 87, 173);
    font-weight: bolder;
    font-size: larger;
}
.rosa{
    color: hotpink;
}
.weiß{
    color: ghostwhite;
}
.filler{
    color: grey;
    background-color: grey;
}
.fillerweiß{
    color: white;
    background-color: white;
}
.g2{
    background-color: grey;
    border: color 12px deeppink;
}
.breitpink{
    color: deeppink;
    font-size: x-large;
    font-weight: bold;
}
.lb{
    font-size: x-large;
    color: deeppink;
    font-weight: bolder;
}
.lz{
    font-weight: bolder;
    color: black;
}
.tabelleliste{
    background-color: gray;
}
.verschieben{
    margin-right: auto;
    margin-left: auto;
}
.tabellegrau{
    background-color: grey;
    color: rgb(238, 128, 186);
    font-size: larger;
    font-weight: bold;
}
.fillerüberschrift{
    color: rgb(187, 186, 186);
}
.überschriftgrey{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.hintergrundblack{
    background-color: black;
}
.groeser{
    font-size: 50px;
    font-weight: bolder;
}
.nochgroeser{
    font-size: 100px;
    font-weight: bolder;
}
.paddy{
    margin-top: 30px;
}
.hintergrundgrau{
    background-color: grey;
}
.mittelgros{
    font-size: larger;
}
.rainbow{
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    color: transparent;
    background-clip: text;
}
.überschrift3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(187, 186, 186);
}
.hintergrundblau{
    background-color: blue;
}
.hintergrundrosa{
    background-color: deeppink;
}
.blau{
    color: blue;
}
.rainbowborder{
    border-width: 6px;
    border-color: transparent linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet) text;
    border-radius: 5px;

}
.borderfancy{
    border-style: dotted;
    border-color: black;
    border-width: 5px;
}
.bbunt{
    border:double 6px rgb(43, 184, 27);
}
.bbig{
    border: solid 20px black;
}
.ecken{
    border: solid 2px black;
    border-radius: 8px;
}
.fancyschrift{
   font-family: cursive;
}
.fancyschrift2{
    font-family: fantasy;
}
.schriftdick{
    font-weight: bolder;
}
.schriftgros{
    font-size: larger;
}
.schriftcool{
    font-family: fantasy;
}
.textdeco{
    text-decoration: line-through;
}
.textali{
    text-align: right;
}
.bottomleft{
    position: absolute;
    bottom: 100px;
    left: 70px;
}
.bottomright{
    position: absolute;
    bottom: 100px;
    right: 70px;
}
.centeredbottom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
}
.textarea{
    caret-color: red;
    width: 60em;
    height: 30em;
    border: 1px solid black;
    padding: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textareafocus{
    background: #FFC;
}
.gruen{
    color: green;
}
.null{
    border: solid 2px black;
}
.drei{
    border: dotted 15px rgb(208, 103, 145);
    background-color: rgb(234, 169, 6);
    color: darkmagenta;
}
.ecken{
    border-radius: 8px;
}
.zwei{
    border: double blue 8px;
}
.eins{
    border: solid green 20px;
}

